
<div class="process gray-light-bg pad-bot">					

  <div class="title page-title text-center">
    <h1 class="dark-text">Process</h1>
    <span class="underline green"></span>
  </div>				

  <div class="container green process-description">

    <ul class="nav-tabs col-lg-5 col-md-6 col-sm-5 col-xs-12 uppercase animated-scale-up" id="process-tabs">

      <% for process_id in data.services.process.keys %>
      <%
        name = data.services.process[process_id].name 
        tag = data.services.process[process_id].tag
	extra_class = (process_id == 1) ? "class='active'" : ""
      %>
      <li <%= extra_class %>>
	<i class="icon-circle"></i> <a href='#<%= tag %>'><%= name %></a> <i class="icon-circle"></i>
      </li>
      <% end %>

    </ul>

    <div class="tab-content col-lg-7 col-md-6 col-sm-7 col-xs-12 animated-scale-up">

      <% for process_id in data.services.process.keys %>
      <%
        detail = data.services.process[process_id].detail
        tag = data.services.process[process_id].tag
	extra_class = (process_id == 1) ? "active" : ""
      %>
      
      <div class="tab-pane <%= extra_class %>" id="<%= tag %>">
	<%= detail %>
      </div>
      <% end %>
      
    </div>

  </div>
</div>							
