<div id="projects" class="main-section not-home">

  <div class="pad-bot">

    <div class="container">								
      <div class="title page-title text-center">
	<h1 class="dark-text">Products</h1>
	<span class="underline green"></span>
      </div>				
    </div>	

    <div class="green animated-fade">
      
      <div id="container" class="portfolioContainer text-center">  

	<% for product_id in data.product.products.keys %>
	<%
	   type = data.product.products[product_id].type
	   type_name = data.product.products[product_id].type_name
	   title = data.product.products[product_id].title
	   image = data.product.products[product_id].image
	   text = data.product.products[product_id].text
        %>
	
	<div class="<%= type %>">        
	  <div class="isotope-img">
	    <img src="<%= image %>" alt="image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"/>
	    <div class="isotope-overlay">
	      <a class="image-link" href="<%= image %>">
		<i class="icon-eye-open tips" data-placement="top" data-toggle="tooltip" title="Click to Zoom"></i>
	      </a>
	    </div>
	  </div>
	  <div class="isotope-description">
	    <p class="product-type uppercase"><%= type_name %></p>
	    <h6 class="tile-bg-title colored-text"><%= title %></h6>
	    <p><%= text %></p>
	  </div>
	</div>

	<% end %>
	
      </div>

    </div>

  </div>

</div>

