
<%= partial "partials/home" %>

<div id="page-wrapper">		
  <%= partial "partials/about" %>
  <%= partial "partials/projects" %>
  <%= partial "partials/contact" %>
  <%= partial "partials/footer" %>
</div>


