
<%= partial "partials/home" %>

<div id="page-wrapper">		
  <%= partial "partials/about" %>
  <%= partial "partials/services" %>
  <%= partial "partials/project_list" %>
  <%= partial "partials/process" %>
  <!-- <div class="project_top bot_angle_right"></div> -->
  <!-- <%= partial "partials/projects" %> -->
  <%= partial "partials/contact" %>
  <%= partial "partials/footer" %>
</div>


